* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Lato;
}

html {
  font-size: 10px;
}

body {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}

input {
  outline: none;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

summary {
  outline: none;
  cursor: pointer;
  list-style: none;
}

.center {
  padding-left: calc(50% - 550px);
  padding-right: calc(50% - 550px);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #dccccd;
}

.header__catalog img {
  width: 4rem;
  height: 3.9rem;
}

.header__catalog, .header__card {
  margin: 3rem;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
}

.btn-cart {
  background-color: #fafafa;
  padding: 10px 20px;
  border: 1px solid transparent;
  color: #2f2a2d;
  border-radius: 5px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  cursor: pointer;
}

.btn-cart:hover {
  background-color: transparent;
  border-color: #fafafa;
  color: #fafafa;
}

.btn-cart, .btn-cart .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.products {
  font-size: 1.5rem;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 200px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
}

.desc {
  border: 1px solid #c0c0c040;
  padding: 15px;
}

.buy-btn {
  font-size: 1.2rem;
  margin-top: 5px;
  background-color: #2f2a2d;
  padding: 10px 20px;
  border: 1px solid transparent;
  color: #fafafa;
  border-radius: 5px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: transparent;
  border-color: #2f2a2d;
  color: #2f2a2d;
}

.desc {
  border: 1px solid #c0c0c040;
  padding: 15px;
}

.cart {
  position: relative;
}

.cart-block {
  font-size: 1.7rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  right: 10%;
  top: 15%;
  position: absolute;
  background-color: white;
  padding: 20px;
  color: black;
  width: 300px;
}

.invisible {
  display: none;
}

.cart-block:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  right: 35px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.buy-btn, .del-btn {
  margin-top: 5px;
  background-color: #2f2a2d;
  padding: 5px 15px;
  border: 1px solid transparent;
  color: #fafafa;
  border-radius: 5px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  cursor: pointer;
}

.buy-btn:hover, .del-btn:hover {
  background-color: #fafafa;
  color: #2f2a2d;
  border: 1px solid #2f2a2d;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item:not(:last-child) {
  margin-bottom: 20px;
}

.product-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-item img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 15px;
}

.product-single-price {
  color: #474747;
  font-size: 0.5em;
}

.product-price {
  margin-left: 30px;
}

.product-desc {
  max-width: 150px;
}

.product-quantity {
  margin-top: 15px;
  font-size: 0.75em;
}

.right-block {
  text-align: right;
}

.btn-search {
  background-color: transparent;
  border: none;
  color: #fafafa;
  font-size: 1.2em;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.search-form {
  position: relative;
  margin-right: 50px;
  display: inline-block;
}

.search-field:focus {
  outline: none;
}

.search-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  color: #fafafa;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fafafa;
}
